.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Base */
body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: 'Segoe UI', sans-serif;
}

/* Container */
.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 25px;
  background: #111827;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* Heading */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #22c55e;
}

/* Inputs */
input, textarea, select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #1f2937;
  background: #0f172a;
  color: #e2e3ed;
}

/* Focus effect (premium touch) */
input:focus, textarea:focus, select:focus {
  border-color: #22c55e;
}

/* Button */
button {
  padding: 10px 15px;
  margin-top: 10px;
  background: #22c55e;
  border: none;
  color: #022c22;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.2s;
}

button:hover {
  background: #16a34a;
}

/* Resume Preview */
.resume-box {
  background: #020617;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #1f2937;
  white-space: pre-wrap;
}

/* Templates */
.modern {
  border-left: 4px solid #22c55e;
}

.classic {
  border-left: 4px solid #eab308;
  font-family: serif;
}

/* Saved resumes */
.resume-item {
  background: #020617;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #1f2937;
}