.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2c7562;
  color: white;
}

.app {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #792265;
  padding: 15px 40px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(116, 152, 24);
  text-decoration: none;
}

.container {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.card {
  background: #617424;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #348989;
  color: rgb(111, 41, 41);
  border-radius: 5px;
  cursor: pointer;
}

.stats {
  display: flex;
  gap: 15px;
}

.box {
  flex: 1;
  background: #33277f;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .navbar {
    padding: 15px;
  }

  .container {
    padding: 15px;
  }

  .card {
    padding: 15px;
  }

  .stats {
    flex-direction: column;
  }
}